@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --input-error-size: 14px !important;
    margin-top: 5px !important;
}
.mantine-InputWrapper-error {
    margin-top: 5px !important;
}
.mantine-InputWrapper-label{
    font-weight: 500;
}
.mantine-phone-input {
    width: 100% !important;
    height: var(--input-height-md) !important;
    padding: 8px 48px 8px 48px !important; 
    border: 1px solid #ced4da !important;
    border-radius: 0.375rem !important;
    font-size: 1rem !important;
    font-family: inherit !important;
    outline: none !important;
    transition: border-color 0.2s !important;
}
.mantine-phone-input:focus {
    border-color: #228be6 !important;
    border: 1px solid #228be6 !important;
}
